
.FailureMsg
{
    position:		absolute;
    z-index:		101;
    color:			red;
	font-family:	Arial, Tahoma, Verdana;
	font-weight:	bold;
	font-size:		8pt;
	padding-top:	0px;
}

.FieldHdr
{
    font-size:      8pt;
    font-weight:    bold;
}

input[type="text"], input[type="password"] {
	color:			rgb(40,40,40);
    color:			rgb(30,103,168);
	font-family:	Tahoma, Verdana;
	font-size:		10pt;
	font-weight:	normal;
	border-style:	solid;
	border-width:	1px;
	border-color:	rgb(30,103,168);
	margin:			4px 0px 4px 0px;
	padding:		4px 4px 4px 4px;
}

#LoginBox
{
    position:		relative;
    overflow:		visible;
    z-index:		100;
    background:		white;
	border:		    solid 1px rgb(40,40,40);
	padding:		5px 0px 10px 5px;
	margin:			40px auto 100px auto;
	
	background:		-moz-linear-gradient(100% 100% 180deg, rgb(114,133,157), rgb(255,255,255));
	background:		-webkit-gradient(linear, left bottom, right bottom,	color-stop(0.28, rgb(255,255,255)),	color-stop(0.87, rgb(114,133,157)));
    background:     -ms-linear-gradient(top, rgb(114,133,157) 0%,rgb(255,255,255) 100%); /* IE10+ */
	filter:			progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#72859D');

	border-radius:			.5em; /* CSS3 rounded corners (when available)*/
	-moz-border-radius:		.5em; /* Firefox 3.5+ rounded corners */
	-webkit-border-radius:	.5em; /* Safari, Chrome rounded corners */
	
	box-shadow:	0px 0px 3px 3px rgb(180,180,180); /* Firefox 3.5+ box shadow */
	-moz-box-shadow:	0px 0px 3px 3px rgb(180,180,180); /* Firefox 3.5+ box shadow */
	-webkit-box-shadow:	0px 0px 3px 3px rgb(180,180,180); /* Safari, Chrome box shadow */

}

.LoginBtn
{
    position:			absolute;
    z-index:			101;
}

#LoginFields
{
    position:			absolute;
    z-index:			101;
    overflow:			visible;
	border:		        none 0px rgb(200,200,200);
	padding:			0px;
	margin:				0px;
}

/* Initial Layout */

#LoginBox		{width: 400px; height: 230px;}
#LoginImg		{left:  5px; top:  0px; }
#LoginFields	{left:115px; top: 10px; }
.LoginBtn		{left: 30px; top:160px; }
.FailureMsg		{left: 5px;  top:190px;	width: 200px; height:30px;}


