
/* Aesthetics */

/* Prevent webKit browsers from hightlighting form fields */
*:focus {outline: none;} 

/* override for global style */
#AdminBox {
	overflow:	visible;
	padding:	0px 0px 20px 0px;
}

/* override for global style */
#ContentBox {
	overflow:	visible;
}

.test
{
    color: #D5C69A;
}

#OrderActionBox, #OrderSummaryBox, #OrderItemsBox, #OrderSupportBox  {
    position:			relative;
    display:            block;
    overflow:			visible;
	border-style:		solid;
	border-color:		rgb(200,200,200);
	border-width:		1px;
	margin:				10px 0px 15px 30px !Important;
	padding:			10px 0px 0px 0px;
	width:				915px;

	border-radius:			.5em; /* CSS3 rounded corners (when available)*/
	-moz-border-radius:		.5em; /* Firefox 3.5+ rounded corners */
	-webkit-border-radius:	.5em; /* Safari, Chrome rounded corners */
	
	box-shadow:	3px 3px 3px rgb(120,120,120); /* Firefox 3.5+ box shadow */
	-moz-box-shadow:	3px 3px 3px rgb(120,120,120); /* Firefox 3.5+ box shadow */
	-webkit-box-shadow: 3px 3px 3px rgb(120,120,120); /* Chrome/Safari box shadow */
	
	/*
	background:			-moz-linear-gradient(100% 100% 180deg, rgb(213,198,154), rgb(255,255,255));
	background:			-webkit-gradient(linear, left bottom, right bottom,	color-stop(0.28, rgb(255,255,255)),	color-stop(0.87, rgb(213,198,154)));
	filter:				progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#D5C69A');
    */
        
    background: rgb(114,133,157); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, rgb(114,133,157) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(114,133,157)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(114,133,157) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(114,133,157) 0%,rgb(255,255,255)) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(114,133,157) 0%,rgb(255,255,255) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(114,133,157) 0%,rgb(255,255,255) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72859D', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-8 */

}

#OrderActionBox {
	margin: 20px 0px 20px 30px;
}

#OrderActionBox #OrderActionBoxTitle 
{
	color:			    rgb(40,40,40);
	font-family:		Tahoma, Verdana, Arial;
	font-weight:		bold;
	font-size:			14pt;
}

#OrderSummaryBox, #OrderItemsBox {
    z-index:        5;
	
    background:     rgb(255,255,255);
    /*    */

	background:		-moz-linear-gradient(100% 100% 180deg, rgb(114,133,157), rgb(255,255,255));
	background:		-webkit-gradient(linear, left bottom, right bottom,	color-stop(0.28, rgb(255,255,255)),	color-stop(0.87, rgb(114,133,157)));
    background:     linear-gradient(top, rgb(114,133,157) 0%,rgb(255,255,255) 100%); /* W3C */
	filter:			progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#72859D');

}

#OrderSummaryBox #OrderSummaryBoxTitle  {
    display:        inline-block;
	margin:         5px 0px 0px 10px;
}

#OrderItemsBox #OrderItemsBoxTitle  {
    display:        inline-block;
	margin:         5px 0px 10px 10px;
}

#OrderItemsBox #CurrentSizesMsg {
	position:			absolute;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Arial, Verdana;
	font-size:		    9pt;
	font-weight:	    normal;
	margin:				0px 0px 0px 10px;
	padding:			4px 0px 4px 0px;
	width:              250px;
}

#OrderSupportBox #OrderSupportBoxTitle  {
	color:			    rgb(64,28,21);
	font-family:		Tahoma, Verdana, Arial;
	font-weight:		bold;
	font-size:			14pt;
	margin:             5px 0px 10px 10px;
}


#OrderSupportBox #SupportText  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Arial, Verdana;
	font-size:		    9pt;
	font-weight:	    normal;
	margin:				10px 0px 20px 40px;
	padding:			4px 0px 4px 0px;
	width:              70%;
}

#ActionShowSizes {
	color:				blue;
	font-family:		Verdana, Arial, Tahoma;
	font-size:			9pt;
	font-weight:		normal;
	padding:			4px 0px 0px 0px;
	margin:				0px;
	border-style:		none;
	border-width:		1px;
	border-color:		rgb(200,200,200);
	cursor:				pointer;
	text-align:			center;
	outline:			0; /* prevent focus rectangle */
}

#ActionShowSizes:visited
{
	color:      blue;
	outline:	0; /* prevent focus rectangle */
}

#ActionShowSizes:hover
{
	color:      orange;
	outline:	0; /* prevent focus rectangle */
}

#ActionShowSizes:active
{
	color:      blue;
	outline:	0; /* prevent focus rectangle */
}

#ProductBox {
	border: 1px solid rgb(254,233,0);
	filter: none;
	background: yellow;
	background: rgb(21,53,93);
}

#ProductBox #ScrollMsg {
	color: rgb(254,233,0);
	font-family:		Arial, Verdana, Tahoma;
	font-size:			12px;
	font-weight:		normal;
}

#ProductBox #CountMsg {
	color: rgb(254,233,0);
	font-family:		Arial, Verdana, Tahoma;
	font-size:			12px;
	font-weight:		bold;
}

#ProductDataBox  {
    overflow: scroll;
    padding-top: 5px;
    /*background: rgb(255,255,255); */
}

.ProductItemBox  {
    position:			relative;
    overflow:			auto;
	border:		        solid 4px rgb(72,46,34);
	border:		        solid 4px rgb(102,87,72);
	margin:				0px 0px 25px 5px;
	padding:			0px 0px 0px 0px;
	width:				880px;
	height:             460px;
	
	background:			-moz-linear-gradient(100% 100% 180deg, rgb(114,133,157), rgb(255,255,255));
	background:			-webkit-gradient(linear, left bottom, right bottom,	color-stop(0.28, rgb(255,255,255)),	color-stop(0.87, rgb(114,133,157)));
	filter:				progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#72859D');

	border-radius:			.5em; /* CSS3 rounded corners (when available)*/
	-moz-border-radius:		.5em; /* Firefox 3.5+ rounded corners */
	-webkit-border-radius:	.5em; /* Safari, Chrome rounded corners */
	
	-moz-box-shadow:	0px 0px 3px 3px rgb(120,120,120); /* Firefox 3.5+ box shadow */
	-webkit-box-shadow:	2px 2px 2px rgb(120,120,120); /* Safari, Chrome box shadow */
}

.ProductItemBox .ImageBox  {
    position:			relative;
    float:left;
    overflow:			hidden;
    background:         white;
	border:		        solid 1px rgb(72,46,34);
	margin:				10px 5px 5px 10px;
	padding:			0px 0px 0px 0px;
	width:				450px;
	height:             440px;
}

.ProductItemBox .ImageBox img  {
    position:			relative;
    overflow:			hidden;
	border:		        solid 0px rgb(72,46,34);
	margin:				0px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
}

.ProductItemBox .DetailBox  {
    position:			relative;
    float:right;
    overflow:			hidden;
    background:         transparent;
	border:		        solid 0px rgb(72,46,34);
	margin:				10px 5px 5px 5px;
	padding:			0px 0px 0px 0px;
	width:				380px;
	height:             440px;
}

.ProductItemBox .DetailBox .ProductName  {
    position:			relative;
    display:            block;
    overflow:			visible;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Verdana;
	font-size:		    10pt;
	font-weight:	    bold;
	border:		        solid 0px rgb(72,46,34);
	margin:				10px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
	width:              350px;
	hhheight:             30px;
}

.ProductItemBox .DetailBox .ProductHilitesBox  {
    position:			relative;
    overflow:			visible;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Verdana;
	font-size:		    10pt;
	font-weight:	    normal;
	border:		        solid 1px rgb(72,46,34);
	margin:				5px 0px 15px 0px;
	padding:			0px 0px 0px 0px;
	width:				360px;
	hhhhheight:             50px;
}

.ProductItemBox .ColorBox  {
    position:           relative;
    overflow:           visible;
	border:		        solid 0px rgb(72,46,34);
	margin:				10px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
	width:				360px;
	height:             20px;
}

.ProductItemBox .ColorBox .ColorHdr  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Verdana;
	font-size:		    8pt;
	font-weight:	    bold;
	margin:				0px 0px 0px 0px;
}

.ProductItemBox .ColorBox .Color {
	position:			relative;
    color:				rgb(30,103,168);
	font-family:		Tahoma, Verdana;
	font-size:			9pt;
	font-weight:		normal;
	border:		        solid 1px rgb(140,140,140);
	margin:				0px 0px 0px 5px;
	padding:			2px 2px 1px 2px;
	width:100px;
}

.ProductItemBox .SizeBox  {
    position:           relative;
    overflow:           auto;
	border:		        solid 0px rgb(72,46,34);
	margin:				20px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
	width:				360px;
	height:             20px;
}

.ProductItemBox .SizeBox .SizeHdr  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Verdana;
	font-size:		    8pt;
	font-weight:	    bold;
	margin:				0px 0px 0px 0px;
}

.ProductItemBox .SizeBox .Size {
	position:			relative;
    color:				rgb(30,103,168);
	font-family:		Tahoma, Verdana;
	font-size:			9pt;
	font-weight:		bold;
	border:		        solid 0px rgb(140,140,140);
	margin:				0px 0px 0px 2px;
	padding:			2px 2px 2px 2px;
	width:              40px;
	height:             20px;
}

.ProductItemBox .SizeOptionsBox  {
    position:           relative;
    overflow:           auto;
	border:		        solid 1px rgb(72,46,34);
	margin:				0px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
	width:				360px;
	height:             auto;
}

.ProductItemBox .SizeOptionsBox .NoOptionsMsg  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Verdana;
	font-size:		    8pt;
	font-weight:	    normal;
	margin:				0px 0px 0px 10px;
	padding:			4px 0px 4px 0px;
}

.ProductItemBox .SizeOptionsBox .SizeOptionRow  {
    position:           relative;
    display:block;
    overflow:           visible;
	border:		        solid 0px red;
	margin:				0px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
	width:			    600px;
	height:             22px;
	wwwwidth:100%;
	
	
	clear:both;
}

.ProductItemBox .SizeOptionsBox .SizeOptionRow .SizeOption  {
    float:left;
    overflow:           visible;
	background:         rgb(225,215,183);
	color:              rgb(72,46,34);
	font-family:		Tahoma, Verdana;
	font-size:			8pt;
	font-weight:		normal;
	border:		        solid 1px rgb(72,46,34);
	border-top-width:   0px;
	border-left-width:  0px;
	margin:				0px 0px 0px 0px;
	padding:			4px 4px 4px 4px;
	hhheight:             17px;
	wwidth:             20px;
	cursor:             pointer;
}

.ProductItemBox .SizeOptionsBox .SizeOptionRow .SizeOptionHdr  {
    float:left;
    overflow:           visible;
	background:         rgb(141,131,103);
	color:              white;
	font-family:		Tahoma, Verdana;
	font-size:			8pt;
	font-weight:		normal;
	border:		        solid 1px rgb(72,46,34);
	border-top-width:   0px;
	border-left-width:  0px;
	margin:				0px 0px 0px 0px;
	padding:			4px 4px 4px 4px;
	hhheight:             17px;
	wwidth:             20px;
	cursor:             default;
}

.ProductItemBox .SizeOptionsBox .SizeOptionRow .SizeOptionNotAvail  {
    float:left;
    overflow:           visible;
	color:              rgb(225,215,183);
	font-family:		Tahoma, Verdana;
	font-size:			8pt;
	font-weight:		normal; 
	background:         rgb(225,215,183);
	border:		        solid 1px rgb(72,46,34);
	border-top-width:   0px;
	border-left-width:  0px;
	margin:				0px 0px 0px 0px;
	padding:			4px 4px 4px 4px;
	hhheight:             17px;
	wwidth:              20px;
	cursor:             default;
}

.ProductItemBox .AddToOrderBox  {
    position:           absolute;
    overflow:           visible;
	border:		        solid 0px red;
	margin:				0px 0px 0px 0px;
	padding:			0px 0px 0px 0px;
	width:				360px;
	height:             30px;
	top:                390px;
}

.ProductItemBox .AddToOrderBox .QtyHdr  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Verdana;
	font-size:		    8pt;
	font-weight:	    bold;
	margin:				2px 0px 0px 0px;
}

.ProductItemBox .AddToOrderBox .Qty {
	position:			relative;
    color:				rgb(30,103,168);
	font-family:		Tahoma, Verdana;
	font-size:			9pt;
	font-weight:		normal;
	border:		        solid 1px rgb(140,140,140);
	margin:				2px 0px 0px 5px;
	padding:			2px 2px 1px 2px;
	width:              80px;
}

.ProductItemBox .AddToOrderBox a {
	position:			absolute;
	color:				blue;
	font-family:		Verdana, Arial, Tahoma;
	font-size:			8pt;
	font-weight:		bold;
	padding:			4px 0px 0px 0px;
	margin:				0px 0px 0px 20px;
	border:		        solid 1px rgb(200,200,200);
	text-align:			center;
	outline:			0; /* prevent focus rectangle */
	top:				0px;
	width:				120px;
	height:				20px;
	cursor:				pointer;
	/*Rounded corners */
	border-radius:		    .5em;   /* CSS3 rounded corners (when available)*/
	-moz-border-radius:		.5em;   /* Firefox 3.5+ rounded corners */
	-webkit-border-radius:	.5em;   /* Safari, Chrome rounded corners */
    /*gradient background*/
	filter:				progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#DDDDDD');
	background:			-moz-linear-gradient(100% 100% 90deg, rgb(230,230,230), rgb(255,255,255));
	background:			-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(230,230,230)));
}

.ProductItemBox .AddToOrderBox a:hover
{
	cccolor:	#FFFF00;
	outline:	0; /* prevent focus rectangle */
    /*gradient background*/
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#FFFF00');
	background: -moz-linear-gradient(100% 100% 90deg, yellow, rgb(255,255,255));
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(yellow), to(rgb(230,230,230)));
}

#ProductBox #Filter {
	position:			absolute;
	color:		        rgb(72,46,34);
	background:         rgb(255,255,255);
	font-family:		Tahoma, Verdana;
	font-size:			14px;
	font-weight:		normal;
	border:		        solid 1px rgb(140,140,140);
	margin:				0px;
	padding:			2px 2px 2px 2px;
}

.FieldCal2 {
	position:			absolute;
	margin:				0px;
	padding:			0px;	
	border:		        none 0px rgb(128,157,185);
    width:				19px;
    height:				17px;	
    cursor:				pointer;
}

.FieldHdr {
    position:			absolute;
	color:			    rgb(10,10,10);
    font-family:		Tahoma, Verdana, Lucida Sans, Arial;
    font-weight:		normal;
    font-size:			9pt;
	border:		        solid 0px blue;
    padding:		    4px 0px 4px 0px;
    margin:				0px 0px 0px 0px;
}

.FieldHdr.Right {
	text-align:         right;
	width:              130px;
}

.FieldHdr2 {
    position:			relative;
	color:			    rgb(10,10,10);
    font-family:		Tahoma, Verdana, Lucida Sans, Arial;
    font-weight:		normal;
    font-size:			9pt;
	border:		        solid 0px blue;
    padding:		    4px 0px 4px 0px;
    margin:				0px 0px 0px 0px;
}

.FieldHdr2.Right {
	display:            inline-block; /* allows the width property to take effect */
	text-align:         right;
	width:              130px;
}

.FieldValQty {
	position:		relative;
    color:			rgb(30,103,168);
	font-family:	Verdana, Tahoma;
	font-size:		9pt;
	font-weight:	normal;
	border:	        solid 1px rgb(140,140,140);
	margin:			0px;
    padding:		4px 4px 4px 4px;
    cursor:         pointer;
}

.FieldVal2 {
	position:		relative;
    color:			rgb(30,103,168);
	font-family:	Verdana, Tahoma;
	font-size:		9pt;
	font-weight:	normal;
	border:	        solid 1px rgb(140,140,140);
	margin:			0px;
    padding:		2px 0px 3px 4px;
    cursor:         pointer;
}

.FieldVal2.ReadOnly {
	position:		relative;
	color:			rgb(10,10,10);
	background-color: transparent;
	font-family:	Tahoma, Verdana;
	font-size:		9pt;
	font-weight:	normal;
	border:	        solid 1px rgb(140,140,140);
	margin:			0px;
    padding:		2px 0px 3px 4px;
    cursor:         default;
}
.FieldValDropdown2 {
	position:			relative;
    color:				rgb(30,103,168);
	font-family:		Tahoma, Verdana;
	font-size:			9pt;
	font-weight:		normal;
	border-style:		solid;
	border-color:		rgb(140,140,140);
	border-width:		1px;
	margin:				0px;
	padding:			2px 2px 1px 2px;
}

.FieldValDropdown2IE {
	position:			relative;
    color:				rgb(30,103,168);
	font-family:		Tahoma, Verdana;
	font-size:			9pt;
	font-weight:		normal;
	border-style:		solid;
	border-color:		rgb(140,140,140);
	border-width:		1px;
	margin:				0px;
	padding:			2px 2px 1px 2px;
}

.FieldValDynamic {
    position:			relative;
    background:         transparent;
    color:				rgb(0,0,255);
    font-family:		Verdana, Tahoma;
    font-size:			9pt;
    font-weight:		normal;
    padding:		    4px 4px 4px 4px;
	cursor:				pointer;
}

.NoBorder {
	border-width:	0px;
}

.OrderSummaryGroupBox  {
    position:		relative;
    overflow:		visible;
    border:         solid 0px blue;
    padding:        0px 0px 0px 0px;
	margin:			30px 0px 0px 20px;
	height:         auto;
}

.OrderSummaryGroupBox.Left  {
    float:          left;
}

.OrderSummaryGroupBox.Right  {
    float:          right;
	margin:			30px 20px 0px 0px;
}

.OrderSummaryGroupBox.ClearFix  {
    clear: both;
}

#ViewTrackingInfo {
	position:			relative;
	color:				blue;
	font-family:		Tahoma, Verdana;
	font-size:			9pt;
	font-weight:		normal;
	padding:			4px 4px 4px 4px;
	margin:				0px;
	border:		        solid 1px rgb(200,200,200);
	cursor:				pointer;
	text-align:			center;
	outline:			0; /* prevent focus rectangle */
	width:				75px;
	height:				20px;
	
	border-radius:			.5em; /* CSS3 rounded corners (when available)*/
	-moz-border-radius:		.5em; /* Firefox 3.5+ rounded corners */
	-webkit-border-radius:	.5em; /* Safari, Chrome rounded corners */
  
    /*    */
	filter:				progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#DDDDDD');
	background:			-moz-linear-gradient(100% 100% 90deg, rgb(230,230,230), rgb(255,255,255));
	background:			-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(230,230,230)));
    
}

#ViewTrackingInfo:hover
{
	outline:	    0; /* prevent focus rectangle */
	
	filter:         progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#FFFF00');
	background:     -moz-linear-gradient(100% 100% 90deg, yellow, rgb(255,255,255));
	background:		-webkit-gradient(linear, 0% 0%, 0% 100%, from(yellow), to(rgb(230,230,230)));
}

#SupportBox {
	position:			absolute;
	padding:			4px 4px 4px 4px;
	margin:				0px;
	border:		        none 1px rgb(200,200,200);
	top:                0px;
	left:               500px;
	width:				350px;
	height:				70px;
    
}

#SupportBox #SupportHdr  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Arial, Tahoma, Verdana;
	font-size:		    12pt;
	font-weight:	    bold;
	margin:				4px 0px 0px 10px;
	padding:			4px 0px 4px 0px;
	width:              100%;
}

#SupportBox #SupportText  {
    position:           relative;
	color:		        rgb(72,46,34);
	font-family:	    Tahoma, Arial, Verdana;
	font-size:		    9pt;
	font-weight:	    normal;
	margin:				0px 0px 0px 10px;
	padding:			4px 0px 4px 0px;
	width:              95%;
}

/* Initial Layout */

/*-----------------------------------------------------------------------
 Layout for top-level actions/buttons.    
-------------------------------------------------------------------------*/

#OrderActionBox {height:50px;}

#OrderActionBox .ActionBar {width:340px;}
#OrderActionBox .ActionBar #ActionRefresh	{left:  0px;}
#OrderActionBox .ActionBar #ActionSave	    {left: 85px; width:120px;}
#OrderActionBox .ActionBar #ActionCancel	{left:215px; width:120px;}

#OrderActionBox #MainStatusMsg {left: 15px; top: 40px; width:500px; height: 30px;}

/*-----------------------------------------------------------------------
 Layout for Order Summary information.    
-------------------------------------------------------------------------*/

#OrderSummaryBox {height:auto;}

#OrderSummaryBox #OrderSummaryBoxTitle {width:60%;}

#OrderSummaryBox .StatusMsg {left: 20px; top: 60px; width:500px; height: 30px;}

#OrderSummaryBox .ActionBar {width:120px;}
#OrderSummaryBox .ActionBar #ActionShowDetails      {left:5px; width: 100px; height:30px}

#GeneralFieldsGroupBox  {width:400px;}

#QtyFieldsGroupBox {width:400px;}

/*-----------------------------------------------------------------------
 Layout for Order Items selected (i.e. the "shopping cart").    
-------------------------------------------------------------------------*/

#OrderItemsBox  {height:300px;}

#OrderItemsBox .StatusMsg {left: 20px; top: 60px; width:500px; height: 30px;}

#OrderItemsBox #CurrentSizesMsg {left:330px; top: 15px; }

#OrderItemsBox .ActionBar {width:350px;}
#OrderItemsBox .ActionBar #ActionNewCustomItem    {left:120px; width:130px;}
#OrderItemsBox .ActionBar #ActionNewItem          {left:260px;}

#OrderListViewPortHdr {width:870px;} 
#OrderItemsColHdr {width:1400px;}
#OrderItemsColHdr #ItemDeleteHdr	    {width: 15px;}
/*#OrderItemsColHdr #ItemEditHdr	        {width: 15px;}*/
#OrderItemsColHdr #ItemTypeHdr	        {width:200px; border: none 0px green;}
#OrderItemsColHdr #ItemDescHdr	        {width:300px; border: none 0px green;}
#OrderItemsColHdr #ItemQtyHdr	        {width: 80px; text-align: center; border: none 0px green;}
#OrderItemsColHdr #ItemSizeHdr	        {width:100px; text-align: center; border: none 0px green;}
#OrderItemsColHdr #ItemColorHdr	        {width:100px; text-align: center; border: none 0px green;}
#OrderItemsColHdr #ItemStatusHdr	    {width:120px; text-align: center; border: none 0px green;}
#OrderItemsColHdr #ItemDeliverDateHdr	{width: 80px; text-align: center; border: none 0px green;}
#OrderItemsColHdr #ItemDeliverMethodHdr {width:140px; text-align: center; border: none 0px green;}
#OrderItemsColHdr #ItemCommentsHdr	    {width:400px; border: none 0px green;}

#OrderListViewPort {width:870px;} 
#OrderItemsBox #OrderItemsDataBox {wwidth:780px;}

/*-----------------------------------------------------------------------
 Layout for Order Support information.    
-------------------------------------------------------------------------*/

#OrderSupportBox {height:auto;}

#OrderSummaryBox #OrderSupportBoxTitle {width:90%;}

/*-----------------------------------------------------------------------
 Products popup.    
-------------------------------------------------------------------------*/

#ProductBox {width:950px; height:800;}

.centered{ 
    background-color: red;
    /*
    height: 300px;
    width: 300px;
    */
    margin: -150px 0 0 -150px;
    top: 50%;
    left: 50%;
    position: fixed;
}?

#ProductBox .DataGroupHdr2 {left:15px; top:30px;  display:none;}

#ProductBox #ImageTop {position: absolute; left: 430px; top:12px; }
#ProductBox #ImageBottom {position: absolute; left: 430px; top:575px; z-index: 500000;}

#ProductBox .StatusMsg {left:25px; top: 10px; width:500px; height: 30px;}

#ProductBox .ActionBar {top:10px; width:100px;}
#ProductBox .ActionBar #ActionCancel	{left: 10px; width: 80px;}

#ProductBox #FilterHdr  {left:25px; top: 30px; font-weight:normal; display:none;}
#ProductBox #Filter	    {left:30px; top: 30px;}

#ProductBox #ScrollMsg {position: absolute; left: 700px; top:580px;}
#ProductBox #CountMsg {position: absolute; left: 80px; top:580px;}

#ProductBox #ProductDataBox {
    overflow:   auto;
    border:     solid 0px rgb(72,46,34);    
    border:     solid 0px rgb(152,152,152);
    border:     solid 0px rgb(255,227,0); 
    border-top-width:0px; 
    border-bottom-width: 0px; 
    top:        40px; 
    width:      920px; 
    height:     470px;  
}
  

